.feature-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature-list {
  margin-left: auto;
  margin-right: auto;
  &__thumb {
    display: flex;
    background-color: var(--light-background);
    margin-bottom: 30px;
    border-radius: 4px;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
  }
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 320px) {
  .feature-list__item {
    max-width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .feature-list {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .feature-list {
    margin: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      margin: 15px;
      flex-basis: calc(100% / 4 - 30px);
      width: 354px;
    }
    &__thumb {
      width: 354px;
    }
    &__title {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .feature-section {
    padding-top: 94px;
    padding-bottom: 47px;
  }

  .feature-list {
    &__item {
      width: 270px;
    }
    &__thumb {
      width: 270px;
      height: 120px;
    }
  }
}
