.hero {
  &__overlay {
    background-color: var(--dark-background);
    text-align: center;
    padding: 118px 60px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;
    color: var(--secondary-text-color);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 768px;
    .hero__overlay {
      max-width: 768px;
      padding-bottom: 118px;
      padding-top: 118px;
      height: 400px;
    }
    .hero__title {
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 1.36;
      width: 360px;
    }
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
    .hero__overlay {
      background-color: var(--dark-background);
      text-align: center;
      padding-bottom: 200px;
      padding-top: 200px;
      height: 600px;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-img.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .hero__title {
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      width: 696px;
      color: var(--secondary-text-color);
    }
  }
}
