.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--accent-color);
  .navigation & {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .footer & {
    margin-bottom: 20px;
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &_theme-light {
    color: var(--black-logo-color);
  }
  &_theme-dark {
    color: var(--secondary-text-color);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    .navigation & {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
    text-align: left;
    .navigation & {
      padding-top: 24px;
      padding-bottom: 25px;
    }
    &_theme-light {
      margin-bottom: 0;
    }
  }
}
