.form {
  // width: 370px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-title {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}
.form-field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  &__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
    margin-bottom: 4px;
  }
  &__input {
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.form-field__input:focus,
.form-comment__area:focus {
  border-color: var(--accent-color);
  outline: none;
}

.icon-modal {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .form-field__input:focus + & {
    fill: var(--accent-color);
  }
}
.form-comment {
  position: relative;
  margin-bottom: 20px;
  display: block;
  flex-direction: column;
  text-align: left;
}

.form-comment__area {
  display: block;
  height: 120px;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox {
  &__link {
    color: var(--accent-color);
    display: inline;
  }
}
.checkbox__text-and-link {
  text-align: left;
  font-size: 12px;
  line-height: 1.16;
  color: var(--main-text-color);
  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__text {
  display: flex;
  align-items: center;

  &::before {
    display: block;
    content: "";
    min-width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox:checked + &::before {
    background-image: url(../images/icon-check.svg);
    background-position: center;
    background-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;
    border: none;
    border-radius: 2px;
  }
  .checkbox:focus + &::before {
    box-shadow: 0 0 0 2px var(--accent-color);
    border: transparent;
  }
}
.form .button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }

  .form-title {
    line-height: 1.15;
  }
  .form-field {
    &__input {
      width: 448px;
    }
  }
  .form-comment__area {
    &::placeholder {
      font-size: 12px;
      line-height: 1.16;
    }
  }
}
