.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  .header & {
    display: flex;
    // justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    .header & {
      justify-content: flex-end;
    }
    .footer & {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: baseline;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;

    .footer & {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}
